h1{
  text-decoration: none;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-shadow: normal;
  text-transform: none;
  text-decoration: none;
  white-space: normal;
  user-select: auto;
  unicode-bidi: normal;
  font-family: Arial, Helvetica, sans-serif;
  padding-right: 0.5cm;
  padding-left: 0.5cm;
  padding-top: 0.5cm;
  padding-bottom: 0;
  color: blue;
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  font-size: 20px;
}
