p{
  padding-right: 0.5cm;
  padding-left: 0.5cm;
  padding-top: 0.5cm;
  margin: 0;
  font-size: 16px;
  color: green;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-indent: 2cm;
  text-shadow: normal;
  text-transform: none;
  text-decoration: none;
  white-space: normal;
  user-select: auto;
  unicode-bidi: normal;
  text-align: justify;
}
