*{
  padding: 0;
  margine: 0;
  box-sizing: border-box;
}
.glasanje{
  border: none;
  border-radius: 8px;
}
input{
  border: none;
  background: none;
  color: yellow;
  font-size: 16px;
  padding: 0;
}
button{
  color: yellow;
  bacground: none;
  font-sise: 30px;
  cursor: pointer;
}
button:active{
  colour: #004eff;
  transform: scale(1.2);
}
